<div class="page-header" style="text-align:center;">
	<h2 style="color: white; text-align:left;">{{ 'IPCAMERAS' | translate }}</h2>
		<a class="pull-right btn btn-primary" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> {{ 'ADDCAMERA' | translate }}</a>
		<a class="pull-right btn btn-primary" ng-click="addWidget()" ng-disabled="true" style="margin-right: 5px;"><i class="glyphicon glyphicon-refresh"></i> {{ 'SCAN' | translate }}</a>
	</div>
</div>
<div gridster="gridsterOptions" >
		<li gridster-item="camera" ng-repeat="camera in cameras">
			<div class="config-box" ng-controller="CustomWidgetCtrl">
				<div class="box-header">
					<h3>#{{ camera.row+1 }} {{ camera.name }}</h3>
					<div class="box-header-btns pull-right">
						<a title="settings" ng-click="openSettings(camera)"><i class="glyphicon glyphicon-cog"></i></a>
						<a title="Remove widget" ng-click="remove(camera)" confirm="Are you sure, {{camera.name}}?"><i class="glyphicon glyphicon-trash"></i></a>
					</div>
				</div>
				<div class="box-content">
				</div>
			</div>
		</li>
</div>
