<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>raspIPC.tv</title>
    <meta name="description" content="Rasperry Pi IPCamera Display" />
    <meta name="author" content="Ryan Hunt - admin@nayr.net" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- raspIPC.tv Copyright 2016 Ryan Hunt - License: GPL 3.0 -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/angular-gridster.min.css" />
    <link rel="stylesheet" href="css/angular-tooltips.min.css" />
    <link rel="stylesheet" href="css/common-style.css" />
    <script src="src/angular.min.js"></script>
    <script src="src/angular-route.min.js"></script>
    <script src="src/ui-bootstrap-tpls.min.js"></script>
    <script src="src/angular-gridster.min.js"></script>
    <script src="src/angular-translate.min.js"></script>
    <script src="src/angular-translate-loader-static-files.min.js"></script>
    <script src="src/angular-confirm.min.js"></script>
    <script src="js/raspipc.js"></script>
    <script src="js/translations.js"></script>
    <script src="templates/cameras/script.js"></script>
    <script src="templates/about/script.js"></script>
    <!-- Grid Templates -->
    <script src="js/grids/01.js"></script>
    <script src="js/grids/02.js"></script>
    <script src="js/grids/02S.js"></script>
    <script src="js/grids/03.js"></script>
    <script src="js/grids/04.js"></script>
    <script src="js/grids/04R.js"></script>
    <script src="js/grids/05.js"></script>
    <script src="js/grids/06.js"></script>
    <script src="js/grids/07.js"></script>
    <script src="js/grids/08.js"></script>
    <script src="js/grids/09.js"></script>
    <script src="js/grids/10.js"></script>
    <script src="js/grids/13.js"></script>
    <script src="js/grids/16.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="RootCtrl">
        <link rel="stylesheet" ng-href="css/template-style.css" />
        <div class="navbar navbar-collapse navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <a class="navbar-brand hidden-sm hidden-xs" href="#/about"><img src="images/rpi-icon.png" height="48px" width="48px">raspIPC.tv</a>
            </div>
            <div class="navbar-middle btn-group" role="group">
              <a class="btn btn-black" ng-repeat="screen in screens"  aria-label="{{screen.name}}" tooltip-append-to-body="true"
                uib-tooltip="{{screen.name}}" tooltip-placement="bottom" ng-href="/#{{screen.href}}">
                <i class="raspipc-icon {{screen.icon}}"></i>
              </a>
            </div>
            <div class="nav navbar-nav navbar-right btn-group" role="group">
              <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-black" style="padding: 6px;" uib-dropdown-toggle>
                  <span class="caret"></span>
                  <span class="sr-only">Split button!</span>
                </button>
                <button id="single-button" type="button" class="btn btn-black" ng-disabled="disabled" ng-click="reload()" aria-label="{{ 'REFRESH' | translate }}" uib-tooltip="{{ 'REFRESH' | translate }}" tooltip-append-to-body="true" tooltip-placement="bottom">
                   <i class="glyphicon glyphicon-refresh"></i>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a ng-click="refreshTimer(5)"><i ng-if="timer === 5" class="glyphicon glyphicon-triangle-right"></i> {{ 'REFRESHRATE' | translate }}: 5 {{ 'SEC' | translate }}</a></li>
                  <li role="menuitem"><a ng-click="refreshTimer(10)"><i ng-if="timer === 10" class="glyphicon glyphicon-triangle-right"></i> {{ 'REFRESHRATE' | translate }}: 10 {{ 'SEC' | translate }}</a></li>
                  <li role="menuitem"><a ng-click="refreshTimer(30)"><i ng-if="timer === 30" class="glyphicon glyphicon-triangle-right"></i> {{ 'REFRESHRATE' | translate }}: 30 {{ 'SEC' | translate }}</a></li>
                  <li role="menuitem"><a ng-click="refreshTimer(60)"><i ng-if="timer === 60" class="glyphicon glyphicon-triangle-right"></i> {{ 'REFRESHRATE' | translate }}: 1 {{ 'MIN' | translate }}</a></li>
                  <li role="menuitem"><a ng-click="refreshTimer(300)"><i ng-if="timer === 300" class="glyphicon glyphicon-triangle-right"></i> {{ 'REFRESHRATE' | translate }}: 5 {{ 'MIN' | translate }}</a></li>
                  <li class="divider"></li>
                  <li role="menuitem"><a ng-click="refreshTimer(0)"><i ng-if="timer < 1" class="glyphicon glyphicon-triangle-right"></i> {{ 'DISABLEREFRESH' | translate }}</a></li>
                </ul>
              </div>

                <ng-button class="btn-black btn" aria-label="{{ 'APPLYLAYOUT' | translate }}" uib-tooltip="{{ 'APPLYLAYOUT' | translate }}" tooltip-append-to-body="true" tooltip-placement="bottom"
                ng-click="applyView()" confirm="{{ 'DISPLAYCFRM' | translate }}" confirm-title="{{ 'DCONFIRMTITLE' | translate }}" confirm-ok="{{ 'YES' | translate }}"
                ng-hide="page == AboutCtrl">
                  <i class="glyphicon glyphicon-blackboard"></i>
                </ng-button>
                <a class="btn-black btn" href="#/cameras" aria-label="{{ 'CAMERAS' | translate }}" uib-tooltip="{{ 'CAMERAS' | translate }}" tooltip-append-to-body="true" tooltip-placement="bottom">
                  <i class="glyphicon glyphicon-facetime-video"></i>
                </a>
            </div>
      </div>
        <div class="container" ng-view></div>
        <div class="tip hidden-sm hidden-xs"><strong>{{ 'TIP' | translate }}</strong></div>
        <div class="footer">
          <a ng-href="#/update" uib-tooltip="{{ 'UPDATEBTN' | translate }}"><i class="glyphicon glyphicon-cloud-download"></i></a>
          &nbsp;
          <a href="#/about" uib-tooltip="{{ 'ABOUTBTN' | translate }}"><i class="glyphicon glyphicon-info-sign"></i></a>
          &nbsp;
          <a href="http://raspipc.tv" target="_blank" uib-tooltip="raspIPC.tv" tooltip-placement="left"><i class="glyphicon glyphicon-home"></i></a>
          &nbsp;
        </div>
    </div>
</body>
</html>
