<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>RasPipC</title>
    <meta name="description" content="Rasperry Pi IPCamera Display" />
    <meta name="author" content="Ryan Hunt - admin@nayr.net" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/angular-gridster.min.css" />
    <link rel="stylesheet" href="css/common-style.css" />
    <script src="src/angular.js"></script>
    <script src="src/angular-route.min.js"></script>
    <script src="src/ui-bootstrap-tpls.min.js"></script>
    <script src="src/angular-gridster.js"></script>
    <script src="js/raspipc.js"></script>
    <script src="templates/cameras/script.js"></script>
    <!-- Grid Templates -->
    <script src="js/grids/01.js"></script>
    <script src="js/grids/02.js"></script>
    <script src="js/grids/03.js"></script>
    <script src="js/grids/04.js"></script>
    <script src="js/grids/04R.js"></script>
    <script src="js/grids/05.js"></script>
    <script src="js/grids/06.js"></script>
    <script src="js/grids/07.js"></script>
    <script src="js/grids/08.js"></script>
    <script src="js/grids/09.js"></script>
    <script src="js/grids/10.js"></script>
    <script src="js/grids/13.js"></script>
    <script src="js/grids/16.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="RootCtrl">
        <link rel="stylesheet" ng-href="css/template-style.css" />
        <div class="navbar navbar-collapse navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <a class="navbar-brand hidden-sm hidden-xs" href="#/about"><img src="images/rpi-icon.png" height="48px" width="48px">RasPipC</a>
            </div>
            <div class="navbar-middle btn-group" role="group">
               <a class="btn btn-default" ng-class="{active: page == '1Cam'}" href="#/1"><i class="glyphicon glyphicon-stop"></i></a>
               <a class="btn btn-default" ng-class="{active: page == '2Cams'}" href="#/2">2</a>
               <a class="btn btn-default" ng-class="{active: page == '3Cams'}" href="#/3">3</a>
               <a class="btn btn-default" ng-class="{active: page == '4Cams'}" href="#/4"><i class="glyphicon glyphicon-th-large"></i></a>
               <a class="btn btn-default" ng-class="{active: page == '4RCams'}" href="#/4R">4</a>
               <a class="btn btn-default" ng-class="{active: page == '5Cams'}" href="#/5">5</a>
               <a class="btn btn-default" ng-class="{active: page == '6Cams'}" href="#/6">6</a>
               <a class="btn btn-default" ng-class="{active: page == '7Cams'}" href="#/7">7</a>
               <a class="btn btn-default" ng-class="{active: page == '8Cams'}" href="#/8">8</a>
               <a class="btn btn-default" ng-class="{active: page == '9Cams'}" href="#/9"><i class="glyphicon glyphicon-th"></i></a>
               <a class="btn btn-default" ng-class="{active: page == '10Cams'}" href="#/10">10</a>
               <a class="btn btn-default" ng-class="{active: page == '13Cams'}" href="#/13">13</a>
               <a class="btn btn-default" ng-class="{active: page == '16Cams'}"href="#/16">16</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active: page == 'save'}"><a ng-click="saveView()"><i class="glyphicon glyphicon-sound-stereo"></i></a></li>
                <!--<li ng-class="{active: page == 'dashboard'}"><a href="#/dashboard"><i class="glyphicon glyphicon-flash"></i></a></li>-->
                <!--<li ng-class="{active: page == 'openvpn'}"><a href="#/openvpn"><i class="glyphicon glyphicon-lock"></i></a></li>-->
                <!--<li ng-class="{active: page == 'update'}"><a href="#/update" target="_blank" class="code-coverage"><i class="glyphicon glyphicon-cloud-download"></i></a></li>-->
                <li ng-class="{active: page == 'CameraCtl'}"><a href="#/cameras"><i class="glyphicon glyphicon-facetime-video"></i></a></li>
                <!--<li ng-class="{active: page == 'mute'}"><a href="#/mute"><i class="glyphicon glyphicon-headphones"></i></a></li>-->
                <!--<li ng-class="{active: page == 'screenOff'}"><a href="#"><i class="glyphicon glyphicon-off"></i></a></li>-->
            </ul>
      </div>
        <div class="container" ng-view></div>
        <div class="tip hidden-sm hidden-xs"><strong>tip: drag to rearrange</strong></div>
        <div class="footer">
          <a href="#/about"><i class="glyphicon glyphicon-info-sign"></i></a>
          &nbsp;
          <a href="http://raspipc.tv" target="_blank"><i class="glyphicon glyphicon-home"></i></a>
        </div>
    </div>
</body>
</html>
