@font-face {
    font-family: 'raspipc';
    src:    url('/fonts/raspipc.eot?kwa2qe');
    src:    url('/fonts/raspipc.eot?kwa2qe#iefix') format('embedded-opentype'),
        url('/fonts/raspipc.ttf?kwa2qe') format('truetype'),
        url('/fonts/raspipc.woff?kwa2qe') format('woff'),
        url('/fonts/raspipc.svg?kwa2qe#raspipc') format('svg');
    font-weight: normal;
    font-style: normal;
}

.raspipc-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'raspipc' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-9:before {
    content: "\e900";
}
.icon-16:before {
    content: "\e901";
}
.icon-13:before {
    content: "\e902";
}
.icon-10:before {
    content: "\e903";
}
.icon-8:before {
    content: "\e904";
}
.icon-7:before {
    content: "\e905";
}
.icon-6:before {
    content: "\e906";
}
.icon-4r:before {
    content: "\e90c";
}
.icon-4:before {
    content: "\e907";
}
.icon-5:before {
    content: "\e908";
}
.icon-3:before {
    content: "\e909";
}
.icon-2s:before {
    content: "\e90d";
}
.icon-2:before {
    content: "\e90a";
}
.icon-1:before {
    content: "\e90b";
}
.navbar-collapse{
    padding: 0 20px;
    text-align: center;
    min-width: 1000px;
}
a:hover {
    cursor: pointer;
}
input {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    padding: 4px;
}
.container {
    margin-top: 60px;
    width: 1000px;
}
.code-coverage {
    color: #fff;
    font-weight: bold;
    float: right;
    padding: 10px;
}
.navbar-middle .btn {
  margin-top: 7px;
}
.navbar-right {
  margin-top: 7px;
  padding-right: 20px;
}

.btn-default {
  color: #999999;
  background-color: #000000;
  border-color: #999999;
}

.navbar-brand {
  padding: 0px 0px;
  margin-right: 40px;
}
.navbar-middle {
  display: inline-block;
  float: none;
}

.footer {
  text-align: center;
  vertical-align: bottom;
  position: fixed;
  bottom: 10px;
  right: 15px;
}

.footer a {
  color: grey;
  text-decoration: none;
}
.footer a:hover {
  color: #fff;
  text-decoration: none;
}
.tip {
  color: grey;
  position: fixed;
  bottom: 10px;
  left: 10px;
}
.about-page a:hover {
    color: #fff;
    text-decoration: none;
}
.rpi-board {
    position: relative;
    top: 100px;
    left: 60%;
    z-index: -1;
    float: left;
}
