.navbar-collapse{
    padding: 0 20px;
    text-align: center;
}
a:hover {
    cursor: pointer;
}
input {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    padding: 4px;
}
.container {
    margin-top: 70px;
    max-width: 1000px;
}
.code-coverage {
    color: #fff;
    font-weight: bold;
    float: right;
    padding: 10px;
}
.navbar-middle .btn {
  margin-top: 7px;
}

.btn-default {
  color: #999999;
  background-color: #000000;
  border-color: #cccccc;
}

.navbar-brand {
  padding: 0px 0px;
  margin-right: 40px;
}
.navbar-middle {
  display: inline-block;
  float: none;
}

.footer {
  text-align: center;
  vertical-align: bottom;
  position: fixed;
  bottom: 10px;
  right: 15px;
}

.footer a {
  color: grey;
  text-decoration: none;
}
.tip {
  color: grey;
  position: fixed;
  bottom: 10px;
  left: 10px;
}
