
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #004756;
    align: center;
}
.controls {
    margin-bottom: 20px;
}
.about-page {
    margin-top: -20px;
    position: absolute;
}
.page-header {
    margin-top: -20px;
}
ul {
    list-style: none;
}
.box {
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
}
.config-box {
    height: 48px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.box-header {
    background-color: #eee;
    padding: 0 30px 0 10px;
    cursor: move;
    position: relative;
}
.box-header h3 {
    margin-top: 10px;
    display: inline-block;
}
.box-header a {
  color: #000;
}
.box-header a:hover {
  color: #999;
}
.box-content {
    padding: 10px;
}
.box-header-btns {
    top: 15px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}
a {
    color: #ccc;
}
form {
    margin-bottom: 0;
}
.page-header {
  border-bottom: none
}
.cameraTitle {
  text-shadow: 0 0 4px #000 !important;
  height: 100%;
  width: 100%;
  color: #FFF;
  font-size: 1.5em;
  padding-left: 10px;
  background-repeat:  no-repeat !important;
  background-position: center !important;
  background-color: #000;
}

.gridster .gridster-item {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #004756;
    background: #ffffff;
}
