<style>.gridster .gridster-item {
  background-image: url('/images/camera.png') !important;
  background-repeat:  no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
</style>
<div class="cameraGrid-container">
    <div gridster="gridsterOpts">
        <ul>
            <li gridster-item="item" ng-repeat="item in viewItems">
		            <div><strong>{{item.id}} - {{cameras[(item.id - 1)].name}}</strong></div>
            </li>
        </ul>
    </div>
</div>
