<style>.gridster .gridster-item {
  background-image: url('/images/camera.png') !important;
  background-repeat:  no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
</style>
<div class="cameraGrid-container">
    <div gridster="gridsterOpts">
        <ul>
            <li gridster-item="item" ng-repeat="item in viewItems">
		            <div class="cameraTitle"><strong>{{item.id}} - {{cameras[(item.id - 1)].name}}</strong></div>
                <!--<div class="vlc">
                  <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" codebase="http://download.videolan.org/pub/videolan/vlc/last/win32/axvlc.cab" id="vlc">
                    <embed type="application/x-vlc-plugin" target="{{cameras[(item.id - 1)].feed}}" height="{{ gridsterOptions.rowHeight }}" width="{{ gridsterOptions.colWidth }}">
                    </embed>
                  </object>
                </div>-->
            </li>
        </ul>
    </div>
</div>
