<style>
.form-control {
display: block;
width: 33% !important;
height: 34px;
padding: 6px 12px;
margin-top: 20px;
font-size: 14px;
line-height: 1.428571429;
color: #555555;
vertical-align: middle;
background-color: #ffffff;
background-image: none;
border: 1px solid #cccccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
</style>
<div class="cameraGrid-container">
    <div gridster="gridsterOpts">
        <ul>
          <li gridster-item="item" ng-repeat="item in viewItems">
            <div class="cameraTitle" ng-style="{ 'background-image': 'url(' + cameras[viewItems.id - 1].jpeg + ')',  'background-size': getBackgroundSize(cameras[viewItems.id - 1].ar) }">
                  <strong>#{{viewItems.id}} {{cameras[viewItems.id - 1].name}}</strong>
                </div>
            </li>
        </ul>
    </div>
</div><br/>
<div class="nav" width="100%" style="text-align:center; color: white;">
  <div class="navbar-middle btn-group" role="group">
    <a class="btn btn-default" ng-repeat="camera in cameras" ng-click="changeCamera(camera.row + 1)">{{camera.row + 1}}</a>
  </div>
</div>
