<div class="page-header" style="color: #cccccc;">
	<h1 style="display: inline-block; width: 100%;">RasPipC</h1>
	<ul>
		<li>{{ 'VERSION' | translate }}: 0.0.1</li>
		<li><a href="http://raspipc.tv">{{ 'HOMEPAGE' | translate }}</a></li>
		<li><a href="http://wiki.raspipc.tv">{{ 'HELP' | translate }}</a></li>
		<li><a href="http://github.raspipc.tv">{{ 'SOURCE' | translate }}</a></li>
	</ul>

	{{ 'HWINFO' | translate }}:
	<ul>
		<li>{{ 'CPUSERIAL' | translate }}: <strong>{{cpuInfo.Serial[0] }}</strong></li>
		<li><table width="500px">
		<tr>
			<td>H264: {{codecSupport.H264 }}</td>
			<td>MPG4: {{codecSupport.MPG4 }}</td>
			<td>MJPG: {{codecSupport.MJPG }}</td>
		</tr>
		<tr>
			<td>MPG2: {{codecSupport.MPG2 }}</td>
			<td>WVC1: {{codecSupport.WVC1 }}</td>
			<td>WMV9: {{codecSupport.WMV9 }}</td>
		</tr>
	</table></li>
	<li><small>&nbsp;<a href="http://www.raspberrypi.com/license-keys/" target="_blank"><i class="glyphicon glyphicon-shopping-cart"></i> {{ 'BUYLICENSE' | translate }}</a></li>
</ul>

  {{ 'POWERED' | translate }}:
	<ul>
		<li><table width="500px">
			<tr>
				<td><a href="https://www.raspberrypi.org/" target="_blank">Raspberry Pi</a></td>
				<td><a href="https://www.raspberrypi.org/downloads/raspbian/" target="_blank">Raspbian Jessie</a></td>
				<td><a href="https://github.com/popcornmix/omxplayer" target="_blank">omxplayer</a></td>
			</tr>
			<tr>
				<td><a href="https://nodejs.org" target="_blank">NodeJS</a></td>
				<td><a href="https://angularjs.org/" target="_blank">AngularJS</a></td>
				<td><a href="http://expressjs.com/" target="_blank">ExpressJS</a></td>
			</tr>
		</table></li>
	</ul>

  {{ 'AUTHORED' | translate }}:
	<ul>
		<li><a href="mailto:admin@nayr.net">Ryan Hunt</a></li>
	</ul>

	{{ 'THANKS' | translate }}:
	<ul>
		<li><a href="https://www.ipcamtalk.com/">ipCamTalk Community</a></li>
		<li><a href="http://www.domoticz.com/">Domoticz Community</a></li>
		<li>ruppmeister@ipCamtalk - for nice gfx/icons</li><br/>

		<li>my Gramps, lost but never forgotten :(</li>
	</ul>
</div>
<div class="page-footer" style="color: #ccc;">
	© 2016 -   {{ 'LICENSE' | translate }}: <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">GPL-3.0</a><br/><br/>
	<small>{{ 'TMDISCLAIMER' | translate }}</small>
</div>
