<div class="page-header" style="color: white;">
	<h1 style="display: inline-block; width: 100%;">RasPipC</h1>
	<ul>
		<li>Version: 0.0.1</li><br/>
		<li><a href="http://raspipc.tv">Homepage</a></li>
		<li><a href="http://wiki.raspipc.tv">Help (Wiki)</a></li>
		<li><a href="http://github.raspipc.tv">Source Code (Git)</a></li>
	</ul>

  Powered By:
	<ul>
		<li><a href="https://www.raspberrypi.org/">Raspberry Pi</a></li>
		<li><a href="https://www.raspberrypi.org/downloads/raspbian/">Raspbian Jessie</a></li>
		<li><a href="https://github.com/popcornmix/omxplayer">omxplayer</a></li>
		<li><a href="https://nodejs.org">NodeJS</a></li>
		<li><a href="https://angularjs.org/">AngularJS</a></li>
	</ul>

  Written By:
	<ul>
		<li><a href="mailto:admin@nayr.net">Ryan Hunt</a></li>
	</ul>

	Thanks To:
	<ul>
		<li><a href="https://www.ipcamtalk.com/">ipCamTalk Community</a></li>
		<li><a href="http://www.domoticz.com/">Domoticz Community</a></li>
		<li>ruppmeister@ipCamtalk - for nice gfx/icons</li><br/>

		<li>my Gramps, lost but never forgotten :(</li>
	</ul>
</div>
<div class="page-footer" style="color: white;">
	© 2016 - License: <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">GPL-3.0</a><br/><br/>
	<small>All product and company names are trademarks™ or registered® trademarks of their respective holders. Use of them does not imply any affiliation with or endorsement by them.</small>
</div>
