<div class="page-header" style="color: #cccccc;">
	<h1 style="display: inline-block; width: 100%;">RasPipC</h1>
	<ul>
		<li>{{ 'VERSION' | translate }}: 0.0.1</li>
		<li><small>{{ 'CPUSERIAL' | translate }}: {{cpuInfo.Serial[0] }}</small></li><br/>
		<li><a href="http://raspipc.tv">{{ 'HOMEPAGE' | translate }}</a></li>
		<li><a href="http://wiki.raspipc.tv">{{ 'HELP' | translate }}</a></li>
		<li><a href="http://github.raspipc.tv">{{ 'SOURCE' | translate }}</a></li>
	</ul>

  {{ 'POWERED' | translate }}:
	<ul>
		<li><a href="https://www.raspberrypi.org/">Raspberry Pi</a></li>
		<li><a href="https://www.raspberrypi.org/downloads/raspbian/">Raspbian Jessie</a></li>
		<li><a href="https://github.com/popcornmix/omxplayer">omxplayer</a></li>
		<li><a href="https://nodejs.org">NodeJS</a></li>
		<li><a href="https://angularjs.org/">AngularJS</a></li>
	</ul>

  {{ 'AUTHORED' | translate }}:
	<ul>
		<li><a href="mailto:admin@nayr.net">Ryan Hunt</a></li>
	</ul>

	{{ 'THANKS' | translate }}:
	<ul>
		<li><a href="https://www.ipcamtalk.com/">ipCamTalk Community</a></li>
		<li><a href="http://www.domoticz.com/">Domoticz Community</a></li>
		<li>ruppmeister@ipCamtalk - for nice gfx/icons</li><br/>

		<li>my Gramps, lost but never forgotten :(</li>
	</ul>
</div>
<div class="page-footer" style="color: white;">
	© 2016 -   {{ 'LICENSE' | translate }}: <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">GPL-3.0</a><br/><br/>
	<small>{{ 'TMDISCLAIMER' | translate }}</small>
</div>
