body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: #004756;
    color: #fff;
    align: center;
}
.gridster .gridster-item {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #004756;
    background: #ffffff;
    background-image: url('/images/camera.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}
